@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

    .font-josefin{
        font-family: 'Josefin Sans', sans-serif;
    }
    .bg-blue-100 {
        background-color: #6EB2CC;
    }
    .bg-blue-200 {
        background-color: #3288C4;
    }
    .bg-orange-100 {
        background-color: #EA6C36;
    }
    .bg-orange-200 {
        background-color: #E53E3E;
    }
    .header-orange-100 {
        color: #EA6C36;
    }
    .header-blue-200 {
        color: #3288C4;
    }
    .border-blue-200 {
        border-color: #3288C4;
    }

    .navigation-item > svg{
        height: 42px;
        width: 42px;
        color: #3288C4;
        margin: auto 0;
    }

    .navigation-item > p{
        font-size: 1.2rem;
        margin: auto 0;
    }

    .li-nav::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #3288C4;
        margin-top: 0.75rem;

    }
}